 <header>
        <div id="logo">
            <img src="imagens/logo.png" alt="Logo">
        </div>

        <div id="pesquisa">
            <input type="search" placeholder="O que está procurando"><input type="button" value="Pesquisar">
        </div>

        <div id="carrinho">
            <figure>
                <a href="#" id="cesta"><img src="imagens/cesta.png" alt="Comprar"></a>
                <figcaption id="contarIten">0</figcaption>
            </figure>
        </div>
    </header>