 <header>
        <div id="logo">
            <img src="img/logo.png" alt="Logo">

            <nav class="menuNav">             
                 <a href="/inicio">Inicio</a>
                 <a href="/login">Logar </a> 
                 <a href="/cadastro">Cadastrar</a>
            </nav>
        
        </div>

        <div id="pesquisa">
            <input type="search" placeholder="O que está procurando"><input type="button" value="Pesquisar">
        </div>

        <div id="carrinho">
            <figure>
                <a href="/carrinho" id="cesta"><img src="img/cesta.png" alt="Comprar"></a>
                <figcaption id="contarIten">0</figcaption>
            </figure>
        </div>
</header>