<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{!-- css --}}
     <link rel="stylesheet" href="css/estilos.css">
     <link rel="stylesheet" href="css/formulario.css">

    {{!-- JS --}}
    <script src="script/script.js"></script>
    <script src="script/validaForm.js"></script>

    <title>ASHION MODAS</title>
</head>
<body>
    
    {{>header}}
    {{{body}}}
    {{>footer}}

</body>
</html>