<main>
    <section class="admin">
        <img src="img/rafael.jpg">

      <div class="descAdmin">
        <div>
            <h1>Rafael Vieira</h1>
            <p>Administrador</p>
            <p><a id="link" href="/meuPerfil">Meu perfil</a></p>
        </div>

        <a href="/listUsers">Todos os usuários</a>

      </div>

    </section>
</main>