<div class="formCadastro">
    <h1>Faça parte da nossa loja!</h1>

    <form action="">
       <div id="formImg">
           <img src="imagens/register.png">
       </div>

    <div id="formInput">
        <input type="text" placeholder="Nome">
        <input type="text" placeholder="Sobrenome">
        <input type="text" placeholder="Telefone">
        <input type="text" placeholder="CPF">
        <input type="date">

    <select id="">
        <option value="1">Sexo</option>
        <option value="2">Masculino</option>
        <option value="3">Femenino</option>
        <option value="4">Outro</option>
    </select>

        <input type="text" placeholder="Endereço">
        <input type="text" placeholder="CEP">

        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirme a senha">
        <input type="button" value="Cadastrar">
    </div>
    </form>
</div>