    <main>

        <!-- CATEGORIAS -->
        <div id="categorias">
            <!-- CATEGORIA PRIMARIA -->
            <div id="CategoriaPrimaria">
                <h1>Moda Femenina</h1>
            </div>

            <!-- CATEGORIA SECUNDARIA -->
            <div id="CategoriaSecundaria">
                <div id="categoria_masculino">
                    <h1>Moda Masculina</h1>
                </div>

                <div id="categoria_infantil">
                    <h1>Moda Infantil</h1>
                </div>

                <div id="categoria_cosmeticos">
                    <h1>Cosméticos</h1>
                </div>
                
                <div id="categoria_acessorios">
                    <h1>Acessórios</h1>
                </div>
            </div>
        </div>

        <!-- PRODUTOS EM DESTAQUE -->
        <div id="produtos">
            <h1>Produtos em destaque</h1>

            <ul>
                <li id="prod1">
                    <div id="prodi">
                       <p id="titulo">Camisa feminina<br>R$ 89,90</p>
                    </div>
                    <a id="produto1"><img src="imagens/cesta_2.png"></a>
                </li>

                <li id="prod2">
                    <div id="prodi">
                       <p id="titulo">Casaco rosa<br>R$ 89,90</p>
                    </div>
                    <a id="produto2"><img src="imagens/cesta_2.png"></a>
                </li>
                
                <li id="prod3">
                    <div id="prodi">
                       <p id="titulo">vestido<br>R$ 89,90</p>
                    </div>
                    <a id="produto3"><img src="imagens/cesta_2.png"></a>
                </li>

                <li id="prod4">
                    <div id="prodi">
                       <p id="titulo">Camisa masculina<br>R$ 89,90</p>
                    </div>
                    <a id="produto4"><img src="imagens/cesta_2.png"></a>
                </li>

                <li id="prod5">
                    <div id="prodi">
                       <p id="titulo">Camisa social masculina<br>R$ 89,90</p>
                    </div>
                    <a id="produto5"><img src="imagens/cesta_2.png"></a>
                </li>

                <li id="prod6">
                    <div id="prodi">
                       <p id="titulo">calça e camisa feminina<br>R$ 89,90</p>
                    </div>
                    <a id="produto6"><img src="imagens/cesta_2.png"></a>
                </li>
                
                <li id="prod7">
                    <div id="prodi">
                       <p id="titulo">blusinha branca<br>R$ 89,90</p>
                    </div>
                    <a id="produto7"><img src="imagens/cesta_2.png"></a>
                </li>

                <li id="prod8">
                    <div id="prodi">
                       <p id="titulo">Camisa feminina amarela<br>R$ 89,90</p>
                    </div>
                    <a id="produto8"><img src="imagens/cesta_2.png"></a>
                </li>

            </ul>
        </div>

    </main>