<div class="formLogin">
    <h1>Faça seu login</h1>

    <form action="/login">
    <div>
      <img src="img/login.png">
    </div>

        <input type="email" placeholder="Email" id="email">
        <input type="password" name="" id="pass" placeholder="Senha">

        <input type="button" value="Login">
        <p><a href="/cadastro">Fazer cadastro.</a></p>
    </form>
</div>