<main>
    <section id="perfil">
        <div  class="dados">

            <div>
                <h2>Nome: Rafael Vieira</h2>
                <h2>Telefone: (41) 9 9149-8092</h2>
                <h2>CPF: 106.693.159-31</h2>
                <h2>Data de Nascimento: 1998-01-16</h2>
                <h2>Endereço: Rua 2970</h2>
                <h2>Número: 180</h2>
                <h2>Bairro: Centro</h2>
                <h2>CEP: 88.330-338</h2>
                <h2>E-mail: rafaelvieirapalmital@gmail.com	</h2>

                <a href="/admin">Voltar</a>
            </div>

            <img src="img/rafael.jpg">

        </div>
      
        <h3>Histórico de compras</h3>

{{!-- HISTÓRICO DE COMPRAS --}}
        <div class="historicoCompras">
            <figure>
                <img src="img/produtos/1.jpg">
                <figcaption id="figCompras">Camisa Feminina <BR> R$ 89,90</figcaption>
            </figure>
            
            <figure>
                <img src="img/produtos/2.jpg">
                <figcaption id="figCompras">Casaco Rosa <BR> R$ 89,90</figcaption>
            </figure>
            
            <figure>
                <img src="img/produtos/3.jpg">
                <figcaption id="figCompras">Vestido <BR> R$ 89,90</figcaption>
            </figure>
            
            <figure>
                <img src="img/produtos/4.jpg">
                <figcaption id="figCompras">Camisa Masculina <BR> R$ 89,90</figcaption>
            </figure>
        </div>
    </section>
</main>