*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    outline: none;
}

/* FONTES DA PAGINA */
@font-face{
    font-family: principal;
    src: url(../fonts/enigma.ttf)
}

@font-face{
    font-family: secundaria;
    src: url(../fonts/dancingdog.ttf)
}

/* Menssagem de alerta de cadastro */
#divCadastro{
    padding: 5px;
    position: absolute;
    color: rgb(6, 184, 6);
    font-family: sans-serif;
    font-weight: bold;
}

/* Formulário de cadastro */
.formCadastro h1{
    padding: 20px 0;
    text-align: center;
    
}

#formImg{
    margin: 0 auto;
}

#formInput{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formCadastro form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formCadastro input[type="date"]{
    width: 40%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formCadastro select{
    width: 42.8%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formCadastro input[type="text"]{
    width:40%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formCadastro input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formCadastro input[type="password"]{
    width: 40%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formCadastro input[type="submit"]{
    background-color: rgba(351,13,99, 0.9);
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    transition: background-color 1s;
}

.formCadastro input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgba(351,13,99, 0.6);
}

/* Formulário de login */
.formLogin{
    margin: 20px auto;
    padding: 30px 0;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(351,13,99, 0.3);
}

.formLogin h1{
    margin: 0 20px;
    background-color: rgba(351,13,99, 0.6);
    text-align: center;
    
}

.formLogin form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.formLogin input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-bottom: 2px solid rgba(351,13,99, 0.5);
}

.formLogin input[type="submit"]{
    background-color: rgba(351,13,99, 0.9);
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    transition: background-color 1s;
}

.formLogin input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgba(351,13,99, 0.6);
}

.formLogin a{
    text-decoration: none;
    margin: 5px;
    color:  rgba(351,13,99, 0.9);
}

.formLogin p{
    margin: 10px;
}